files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDbjCCAlYCCQDvQ4kk3I72LjANBgkqhkiG9w0BAQsFADB5MQswCQYDVQQGEwJV
      UzELMAkGA1UECAwCV0kxFjAUBgNVBAcMDUZvcnQgQXRraW5zb24xGjAYBgNVBAoM
      EUFjYWRlbWljIE1pbmQgTExDMSkwJwYJKoZIhvcNAQkBFhplcmV5ZXMzQG1hZGlz
      b25jb2xsZWdlLmVkdTAeFw0yMzAzMjUwMjU0MjhaFw0yNDAzMjQwMjU0MjhaMHkx
      CzAJBgNVBAYTAlVTMQswCQYDVQQIDAJXSTEWMBQGA1UEBwwNRm9ydCBBdGtpbnNv
      bjEaMBgGA1UECgwRQWNhZGVtaWMgTWluZCBMTEMxKTAnBgkqhkiG9w0BCQEWGmVy
      ZXllczNAbWFkaXNvbmNvbGxlZ2UuZWR1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
      MIIBCgKCAQEArl+AaLnrIDdyNUageFwq5tjjY3DYL6qQOycpp20kMTs+OvoUBUOO
      8vToFSbYZZuGxtr9HHGx1vyqmoBIlSw3OObXAQVxdZzLkhEqAsR76x91fZYdBuWd
      32xq/mqgyAUPm7wBm2kK74nlfW3Rb4b9if9p+hRIHRLteK6AsMJhfMV2BqnMEfLb
      rRzZjwMfoFxRP7NQoIAZSaS+3Pb9k+/wtnYxqBsHaYFMTnJ7EJtRaDE+ytDDYvBl
      I6fJZpAgM/W9AMNBRqNrMUxLiyfQvs3nBOCGCh3pt6ZJ5ZsX3iEavPLDtEdkbAqo
      X+nM4D800GBZSQF1utLPLvsVhTjYFkRJGQIDAQABMA0GCSqGSIb3DQEBCwUAA4IB
      AQAD7N77RCxfy+ri1zNa5zrNIsCv1jPCXHWnbI9TUV28ZuRQIwc5cJHFS730I8FM
      pBwa602ic0An9U75YqqvcXDpr34LnqfENVQjmWIsfGDwvXvQNShyZKITbY2ZLOxN
      C++wtZiZyf7QQGyIMdbctcZLYyTCY8KO/BvalDs0TOWTo2Sl2wnd4xs/9lLGV1sw
      3MlKi8TfxUEa3zwbnBaHkLnUKuUbQHDPTp/AQBIrXL1I1rjKUhha0b0H2gAwiXoA
      Ie4Sl4MOo2cDrH8FLEEhwafiZf1heuc8Qx5qVAvMlh9orCacka9Xd5sAZXQ9AIAJ
      +VYwkLfWpIysmOuiIir1uR8a
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEArl+AaLnrIDdyNUageFwq5tjjY3DYL6qQOycpp20kMTs+OvoU
      BUOO8vToFSbYZZuGxtr9HHGx1vyqmoBIlSw3OObXAQVxdZzLkhEqAsR76x91fZYd
      BuWd32xq/mqgyAUPm7wBm2kK74nlfW3Rb4b9if9p+hRIHRLteK6AsMJhfMV2BqnM
      EfLbrRzZjwMfoFxRP7NQoIAZSaS+3Pb9k+/wtnYxqBsHaYFMTnJ7EJtRaDE+ytDD
      YvBlI6fJZpAgM/W9AMNBRqNrMUxLiyfQvs3nBOCGCh3pt6ZJ5ZsX3iEavPLDtEdk
      bAqoX+nM4D800GBZSQF1utLPLvsVhTjYFkRJGQIDAQABAoIBACYwUj4dYapHmmKi
      mihh/x9ZpsszfpVJ5Jaf6BZ7565EjEd8V4AjoJ4DFwTy4fe2zRimA0MEf29XHMID
      kGHjMiDrJXFa0NNySH8v9SRwBbejxyZ/BtJo3V9+LhyUG6xSt21jCnMP2U5GxBTp
      RTIIvWRIpNwZLwX3DD0e8p5Do/ggJjvoiNboLohLBw7jNY5lBeS9iErevD4fAuUB
      o3anemMEkt3I3PniQtvuTjEdEQUk5IYCCnXhBF5VMPuE+fKHNxhDYlGu7hEfAgLS
      ENfpJgK5+tUiMc9Ztpfabc99e4jk7cSmd0GLFyf4fSI725SZCXwLBzhs8pdt3VAA
      Sr+3HaUCgYEA2GIwQouE9i+7h3Bk1Op9WIp/+pBTrBQg+j3P0bZZjhcOCCqPbxLt
      mZiJpCEyHIeDWT92r4BhXNIKcSW/UwQe/z2JiF3w6tt8wnbKBoDO6L5JM+lUJu4U
      KUs2iL/8t1U1tDq5s0n88pvqA+g2pyjWC9bqFOm4adJ0WWCNln1DZfMCgYEAzkxM
      OG9QPsStsDAqB2eK9XdEMMvuutoHhbIsrJ5ObyJ7+txZMd/7L+XiqoiwWhj9M4+N
      FIveBhCzEDgBYOCymCxzBNp6QER0dmiIda6haMJEGx6u2O4SXoBw6FW2wADDWEDQ
      Ifad4jrLD1rKnLxO461DElkinjdCP9QqExlfG8MCgYEAlQrEvQFGux/Tpo2XFkTR
      w6vaTOceivduY48x1vwoIUPmCV/vXg2GlPZJUEEBOD9rDI03HdlqtrmCMb9TUkYT
      Z7GmSsSSDeLSw0t5ChOs8QkoeNYtfYcdYfgJfxXmZw0NKbANet3qmd0kyj4nbuok
      zRDiOTdnK5SnSWzE+bQcOVsCgYAb6JJ/J//xHeZpaXqmGcngv0vIVi5rtMdDvQDy
      MVBnFIE1RM4EQ0rWBgGOFIPXDH5klUz+tJVKuMOgtBLrqjo+//Rnea8ENr6Srj2X
      vhIz++P+zz3UNxDhG/sqUz4v52qF6+68SYK+cjm6UAwM/CSoBG6IcuqOAOfDfs5a
      WxpUxQKBgE6rsJ6PurH3Kxrj/KB/aMSr1zMJ4VoKqJ4kniDz5aMH0NbWpTYsFmCy
      7xhuR/vGFIURdse8rcCksUlCgILgRP0RBRP4JysJQVxOi8Fimucb4inGiX139Ket
      19Vl1x//2FMwRMHLX943usb5Ue6VsqrNQbVTlNhx6z/J5rdfcehv
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart